/* NAVBAR */

.site-header{
background:#ffffff;
border-bottom:1px solid #e5e7eb;
position:sticky;
top:0;
z-index:999;
}

.nav-container{
max-width:1200px;
margin:auto;
padding:15px 20px;
text-align:center;
}

.logo a{
font-size:26px;
font-weight:800;
text-decoration:none;
color:#4f46e5;
}

.logo span{
color:#0f172a;
}

/* NAV LINKS */

.main-nav{
margin-top:10px;
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}

.main-nav a{
text-decoration:none;
color:#111827;
font-weight:600;
font-size:15px;
transition:0.3s;
}

.main-nav a:hover{
color:#4f46e5;
}

/* MOBILE */

@media(max-width:768px){

.logo a{
font-size:24px;
}

.main-nav{
gap:20px;
}

.main-nav a{
font-size:14px;
}

}
