/* FIX MOBILE WIDTH */

html,body{
width:100%;
overflow-x:hidden;
}

/* NAVBAR */

.site-header{
width:100%;
background:#fff;
border-bottom:1px solid #eee;
}

.nav-container{
max-width:1200px;
margin:auto;
padding:15px;
text-align:center;
}

.logo a{
font-size:26px;
font-weight:800;
text-decoration:none;
color:#4f46e5;
}

.logo span{
color:#111;
}

.main-nav{
margin-top:8px;
display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
}

.main-nav a{
text-decoration:none;
color:#111;
font-weight:600;
}

/* HERO */

.hero{
width:100%;
text-align:center;
padding:60px 20px;
}

/* MOBILE */

@media(max-width:768px){

.hero{
padding:50px 20px;
}

.hero h1{
font-size:26px;
}

.hero p{
font-size:15px;
}

}
