/* RESET */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
overflow-x:hidden;
font-family:'Inter',sans-serif;
}

/* HEADER */

header{
width:100%;
background:#fff;
border-bottom:1px solid #e5e7eb;
}

.navbar{
max-width:1200px;
margin:auto;
padding:15px;
display:flex;
align-items:center;
justify-content:space-between;
flex-wrap:wrap;
}

.logo{
font-size:26px;
font-weight:800;
color:#4f46e5;
text-decoration:none;
}

.logo span{
color:#111827;
}

.nav-links{
display:flex;
gap:25px;
}

.nav-links a{
text-decoration:none;
font-weight:600;
color:#111827;
}

/* HERO */

.hero{
width:100%;
text-align:center;
padding:60px 20px;
}

/* MOBILE FIX */

@media(max-width:768px){

.navbar{
flex-direction:column;
text-align:center;
}

.nav-links{
margin-top:10px;
flex-wrap:wrap;
justify-content:center;
}

.hero{
padding:50px 20px;
}

.hero h1{
font-size:26px;
}

.hero p{
font-size:15px;
}

.layout{
grid-template-columns:1fr !important;
padding:0 15px;
}

.sidebar{
position:static;
}

textarea{
height:150px;
}

.btn{
width:100%;
}

}
